.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;

  background-color: rgb(84, 74, 223);
}

.inputSearch {
  height: 30px;
  padding-left: 10px;

  border: 2px solid rgb(59, 168, 201);
  border-radius: 15px;
  box-shadow: 1px 1px 5px 0px rgb(59, 168, 201);
}

.header button {
  height: 30px;
  border: 2px solid rgb(59, 168, 201);
  border-radius: 15px;
  box-shadow: 1px 1px 5px 0px rgb(59, 168, 201);
  cursor: pointer;
}

.header button:hover,
.header button:focus {
  transform: translate(1px, 1px);
  box-shadow: 0px 0px 5px 0px rgb(59, 168, 201);
}

.js-quantity {
  height: 25px;
  margin-left: 15px;

  border: 2px solid rgb(59, 168, 201);
  border-radius: 15px;
  box-shadow: 1px 1px 5px 0px rgb(59, 168, 201);

  text-align: center;
}
